language: node_js
node_js:
- '14'

jobs:
  include:
  - stage: release
    if: branch =~ /^release\// OR branch =~ /^hotfix\//
    name: CI on release branch
    install:
    - yarn install
    script: yarn lint && yarn tsc --noEmit && yarn test --coverage --changedSince=main
  - stage: PR
    if: (NOT branch =~ /^release\\//) AND (NOT branch =~ /^hotfix\\//) AND (type = pull_request)
    name: CI on Pull Request
    install:
    - yarn install
    script: yarn lint && yarn tsc --noEmit && yarn test --coverage --changedSince=develop
  - stage: Develop
    if: branch = develop
    name: CI on develop branch
    install:
    - yarn install
    script: yarn lint && yarn tsc --noEmit && yarn test --coverage --changedSince=main
after_success:
- yarn codecov -t $CODECOV_TOKEN

before_deploy: yarn lint && yarn tsc --noEmit && yarn test --coverage
deploy:
  provider: npm
  email: alyssondlopes@gmail.com
  api_key:
    secure: FmRLj7uJk4KAuIGPdz3Zodq4mGWZb3JlXMrjVzjhVJTsS5K9Yta08bBXwd4v7Bfcjvg8l8XZcENK4PYD8FZWmXWYIxaM+lyh0LekeX5Cpn8LfRWttKeVzYU8Dlo6E++QcsLX5YsuGJ+K25ohERLPPlJ4/j8MhzjVbfge4SO66dMszsMsrTedsvRTE5ziIGPUoeCmEMNy+GNU5xY7sJ/TdWlDGa2lvQ5d7AFL5nxH2xkd44r65rhTafLjlfnN7yxpZbkOWkR7Hxgdg54+P9kKgW4YPIVDDOI3YWjtztqpKh3X5Lo0DsNMiuRXkZuspEFoh5ZMcl1lyqwJSmvB8vQpFur5pKDbMTrI2TQoH3iWbL18Dz8CLo3OhhDqyX4fmPELgGkXfYyp3VGtyNfbjsJFGyeasFka5OL70WmLYfUDCsnmrSA7C4yxsNZs6Qb2/9YtvVLy5tz5O/TQYENtZ9RBmitqcupXssiXbqJ0Pwq13bMkeBBC1mBQryTX7PGhsinQYt5hIaaAmkn/BDcHwOTtXU/edrsVo6YoCz8NmN3Tyyf85nLLi5cYOdJDOQU7KAxY942RG6BAQE5EOct+W6UhgT0Xy0o8T64HwjTx96zyrcNI20R2uiAPZ2SuK1fvtqs4KcDFPUmEspvNW4lA2TQAMdyqSK1hgUtQTWNrnkFDTnY=
  on:
    tags: true
  skip_cleanup: true
after_deploy: yarn codecov -t $CODECOV_TOKEN
