name: PR CI

on:
  pull_request:
    branches: [ main ]

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Install dependencies
        run: yarn
      - name: Lint
        run: yarn lint && yarn tsc --noEmit
      - name: Run tests & upload TestCov report
        env:
          CODECOV_TOKEN: ${{ secrets.CodeCov_Token }}
        run: yarn test:coverage && yarn codecov -t $CODECOV_TOKEN