name: PR CI

on:
  pull_request:
    branches:
      - main
      - astro-native@next

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Use Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: yarn
      - name: Lint
        run: yarn lint && yarn tsc --noEmit
      - name: Run tests & upload TestCov report
        env:
          CODECOV_TOKEN: ${{ secrets.CodeCov_Token }}
        run: yarn test:coverage && yarn codecov -t $CODECOV_TOKEN
